@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000028;
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --hover-border-color: rgba(255, 0, 112, 0.4);
    --text-color: #f1b2ce;
    --title-decor-color: #000028;
    --display-rec: flex;
    --menu-color: #ff0070;
    --heading-color: #db00ff;
  }
}

.page.theme_dark {
  --background-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --hover-border-color: rgba(255, 0, 112, 0.4);
  --text-color: #f1b2ce;
  --title-decor-color: #000028;
  --display-rec: flex;
  --menu-color: #ff0070;
  --heading-color: #db00ff;
  background-image: url(../images/cover-image-dark.png);
}
