.page {
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: var(--font-size, 18px);
  line-height: 1.3;
  color: var(--text-color, #353430);
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr auto;
  justify-items: end;
  align-items: start;
  padding: 20px;
  position: relative;
  block-size: max(100vh, 668px);
}

.header__rec {
  text-transform: uppercase;
  position: absolute;
  display: var(--display-rec, none);
  align-items: center;
  gap: 10px;
  color: var(--accent-color, #ff0070);
  inset-block-start: 20px;
  inset-inline-end: 29px;
}

.header__rec::after {
  content: '';
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0px 0px 5px 1px var(--accent-color, #ff0070);
  block-size: 9px;
  inline-size: 9px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-self: center;
  list-style-type: none;
}

.header__theme-menu-button {
  font-size: var(--font-size, 18px);
  color: var(--menu-color, #353430);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  cursor: pointer;
  min-width: 70px;
  min-height: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-border-color, rgba(50, 49, 45, 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color, #353430);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color, #353430);
  pointer-events: none;
}

.header__title {
  font-family: var(--font-family);
  justify-self: start;
  font-size: 137px;
  margin-left: -10px;
  text-shadow: 4px 4px 0px var(--accent-color, #ff8dcb);
}

.title {
  color: var(--heading-color, #ffc2e6);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.header__title-promo {
  font-weight: bold;
  background-color: var(--accent-color, #353430);
  color: var(--title-decor-color, #000028);
  margin-block-start: 114px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 60px 20px;
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__section-title {
  font-size: var(--font-size, 18px);
  color: var(--menu-color, #353430);
}

.main__section-secondary-title {
  color: var(--title-decor-color, #000028);
  font-size: var(--font-size, 18px);
  font-weight: bold;
  background-color: var(--accent-color, #ff8dcb);
}

.regular-title {
  font-weight: 400;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #ff8dcb);
}

.link:hover {
  border-block-end: 1px solid var(--text-color, #353430);
}

.link:focus-visible {
  outline: 1px solid var(--text-color, #353430);
}

.image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  padding: 20px;
  block-size: max(100vh, 668px);
}

.footer .title {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0px var(--accent-color, #ff8dcb);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  border-inline-end: 1px solid var(--menu-color, #353430);
  border-block-start: 1px solid var(--menu-color, #353430);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: 20px;
  inset-block-start: 20px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  border-inline-start: 1px solid var(--menu-color, #353430);
  border-block-end: 1px solid var(--menu-color, #353430);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start: 20px;
  inset-block-end: 20px;
}

@media (width < 768px) {
  .header {
    padding: 10px;
  }

  .header__theme-menu {
    margin-block-start: 65px;
  }

  .header__title-promo {
    margin-block-start: 55px;
  }

  .header__rec {
    inset-block-start: 10px;
    inset-inline-end: 19px;
  }

  .header::before {
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }

  .header::after {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .main {
    gap: 50px;
    margin: 40px 10px;
  }

  .pictures {
    gap: 10px;
  }

  .footer {
    padding: 10px;
  }
}

@media (width >= 768px) {
  .header .title {
    margin-left: -20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    margin-block-start: 172px;
  }

  .header__title-promo {
    margin-block-start: 162px;
    max-inline-size: 364px;
  }

  .main__section {
    grid-template-columns: 236px 1fr 1fr;
  }

  .why-quote .main__section-content,
  .how-quote .main__section-content {
    grid-column: 2 / 4;
  }

  .what-quote .main__section-content {
    grid-column: span 3;
  }

  .how-quote .main__section-title {
    grid-row: span 2;
  }

  .how-quote .title-fix {
    grid-column: span 2;
  }

  .image-card:nth-of-type(1),
  .image-card:nth-of-type(5) {
    grid-column: span 2;
  }

  .image-card:nth-of-type(2),
  .image-card:nth-of-type(3) {
    grid-row: span 2;
  }

  .pictures .main__section-secondary-title {
    grid-column: span 3;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 4px 4px 0px #ff0070;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title-promo {
    margin-block-start: 114px;
    max-inline-size: 491px;
  }

  .main__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .what-quote .main__section-content {
    grid-column: span 1;
    grid-row: 2 / 3;
  }
}